.idea

nervoset/target
nervoset/Cargo.lock
nervoset/nervo_core/Cargo.lock

nervoset/config/docker_compose/nervoset.env
nervoset/config/probiot_t1000/config.toml
nervoset/config/r2d2/config.toml

/infra/hazmat/tmp/
/infra/deployment/tf/cluster/.terraform.lock.hcl
/infra/deployment/tf/cluster/.terraform/
/infra/deployment/tf/cluster/terraform.tfstate

/infra/void-sentiel/target/
/infra/void-sentiel/Cargo.lock

/infra/provisioning/gh_bootstrap/.terraform.lock.hcl
/infra/provisioning/gh_bootstrap/.terraform
/infra/provisioning/gh_bootstrap/terraform.tfstate
/infra/provisioning/gh_bootstrap/terraform.tfstate.backup

/infra/provisioning/gh_bootstrap/tmp
/infra/provisioning/provision/tmp
/infra/provisioning/gh_bootstrap/.terraform.tfstate.lock.info

/infra/deployment/.terraform.lock.hcl
/infra/deployment/terraform.tfstate
/infra/deployment/tmp
/infra/deployment/.terraform.tfstate.lock.info
/infra/deployment/terraform.tfstate.backup
/infra/deployment/.terraform

/infra/.devbox
/infra/devbox.lock
/nervoset/devbox.lock
