hazmat/tmp/

deployment/tf/cluster/.terraform.lock.hcl
deployment/tf/cluster/.terraform/
deployment/tf/cluster/terraform.tfstate

deployment/tmp

.devbox
devbox.lock
tmp/
deployment/docker-registry/.kclvm/
/deployment/docker-registry/build/

k8s/*/.kclvm
k8s/*/build
k8s/*/kcl.mod.lock

# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

**/.kclvm

/**/.DS_Store
