.devbox
devbox.lock

target
app/target
app/Cargo.lock
app/nervo_core/Cargo.lock

# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

k8s/nervo-server/.kclvm
nervo-web/package-lock.json

# Cargos
nervoset/app/nervo-migrant/Cargo.lock


/app/jaison/.env
/app/nervo-migrant/config.yaml

/**/.DS_Store
