.devbox
devbox.lock

target
app/target
app/Cargo.lock
app/nervo_core/Cargo.lock

config/docker_compose/nervoset.env
config/probiot_t1000/config.yaml
config/r2d2/config.yaml
config/groot/config.yaml
config/nervo_server/config.yaml

k8s/probiot-t1000/.kclvm
k8s/probiot-t1000/build

k8s/groot/.kclvm/
k8s/groot/build

k8s/r2d2/.kclvm
k8s/r2d/build

k8s/nervo-server/.kclvm
k8s/nervo-server/build

# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
