.devbox
devbox.lock

target
app/target
app/Cargo.lock
app/nervo_core/Cargo.lock

config/docker_compose/nervoset.env
config/probiot_t1000/config.yaml
config/r2d2/config.yaml
config/groot/config.yaml
config/nervo_server/config.yaml

app/groot/resources/white_listed_users.json
app/groot/resources/black_listed_users.json
app/groot/resources/message_counts.json

# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

k8s/nervo-server/.kclvm


